<html>
  <head>
  <title>유동성 결산일정</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <form id="frm" action="https://best-for-you-app-15101850.azurewebsites.net" method="GET">
        결산기간:
        <input type="number" id="year_pick"
            min="2018"
            max="2050"
            value="2018"
            required ="required" >
        <input type="submit" value="조회">
    </form>
  </head>
  <body>
  
  </body>
</html>