<html>
  <head>
  <title>유동성 결산일정</title>
    <form id="frm" action="https://best-for-you-app-15101850.azurewebsites.net/johe_g" method="GET">
        결산기간:
        <input type="number" id="year_pick" name="gyul_year"
            min="2018"
            max="2050"
            value=<%=johe_year%>
            required ="required" >
        <input type="submit" value="조회">
    </form>
  </head>
  <body>
    <object data = "/public/<%=johe_year%>.pdf" type="application/pdf" height="1000px" width="100%">
    </object>
  </body>
</html>